{% extends 'base.html.twig' %}

{% block body %}

    <div class="collapse-title text-xl font-medium">
        <p><a class="btn btn-primary" href="/logout">Logout</a></p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Hello, {{ app.user.firstname }} {{ app.user.lastname }}!
        {% endif %}
    </div>

{% endblock %}