{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                {% if app.user %}
                    <p>
                        You are logged in as {{ app.user.userIdentifier }}, <a
                                href="{{ path('app_logout') }}">Logout</a>
                    </p>
                {% endif %}
                <h3>
                    Muuda salasõna
                    <small>
                        või <a href="/login">logi sisse</a>
                    </small>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <label for="inputEmail">E-posti aadress</label>
                        <input type="email" class="form-control" name="email"
                               id="inputEmail"
                               autocomplete="email" required="required"
                               autofocus="1">
                    </div>

                    <button type="submit" class="btn btn-secondary pull-right" disabled>
                        Pole rakendatud
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
