{% extends 'base.html.twig' %}

{% block title %}List of posts{% endblock %}

{% block body %}
    <div class="container">
        <h3>List of posts</h3>
        <div class="row">
            {% for post in posts %}
                <div class="mx-auto col-4">
                <div class="card my-3 mx-3">
                    <div class="card-body">
                        <div class="card-title">{{ post.title }}</div>
                        <p class="card-text">{{ post.body }}</p>
                    </div>
                    <div class="card-footer">
                        {{ post.postedAt.format('d/m/Y h:i') }}
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
